---
import style from "../../styles/popup.module.css";
const text =
  "I consider myself a completely curious and self-taught person because I am always exploring and studying everything that interests me,\
   and because I am an enthusiast of technology and love to extent my exploration to New bleeding edge technology across the digital world,\
   I ended up entering the world of programming in this intrests of building and studying the architecture of computers,\
   which made my inner kid discover his intrests to learn more about like X86 and ARM . Love to listen music ,\
   would like to create new exploration and create new contacts in the process of each memory lane,\
   explore all the possibilities that a technology career offered.\
   So until now I have been dedicating myself to exploring current technologies related to Research & Development with a future vision\
   of becoming a R&D scientist!";
---

<h2 class=`${style.title_popup}`>Find out more about me...</h2>
<p class=`${style.text_popup}`>{text}</p>
