---
import style from "../../styles/footer.module.css";
---

<div
  data-aos="fade-in"
  id="container-footer"
  class=`${style.container_footer} container`
>
  <h2 class=`${style.title}`>
    <span class=`${style.span_custom}`>Thanks for visiting!</span>
  </h2>
  <div>
    <a href="#" class=`${style.container_scroll}`>
      <img
        src="./arrowup.svg"
        alt="informative arrow to return to the top of the page"
      />
      <p>click here to return to top</p>
    </a>
  </div>
</div>
